.secondBody {
    margin: 5px 60px 0 60px;
}

.headerBackground {
    background-color: rgb(190, 105, 0);
    width: 100%;
    display: inline-block;
}

.symbol {
    border: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    font-size: 1.2em;
    float: left;
    margin: 2px 5px 2px 2px;
}

.title {
    margin: 2px 0px 2px 3px;
    font-size: 1.2em;
}

.container {
    float: left;
    width: 1%;
}

.container1 {
    float: left;
    width: 7%;
}

.container2 {
    float: left;
    width: 22%;
}

.container3 {
    float: right;
}

.headerBackground:after {
    content: "";
    clear: both;
    display: table;
}

.log {
    margin: 2px 5px 2px 0px;
    font-size: 1.2em;
}

.nav {
    margin: 2px 5px 2px 0px;
    font-size: 1.2em;
}