.secondBody {
    margin: 5px 150px 0 150px;
}

.headerBackground {
    background-color: rgb(190, 105, 0);
    width: 100%;
    display: inline-block;
}

.symbol {
    border: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    font-size: 1.5em;
    float: left;
    margin: 2px 5px 2px 2px;
}

.title {
    margin: 2px 2px 2px 3px;
    font-size: 1.5em;
}

.container {
    float: left;
    width: 1.5%;
}

.container1 {
    float: left;
    width: 10%;
}

.container2 {
    float: left;
    width: 31%;
}

.container3 {
    float: right;
}

.headerBackground:after {
    content: "";
    clear: both;
    display: table;
}

.log {
    margin: 2px 5px 2px 0px;
    font-size: 1.5em;
}

.nav {
    margin: 2px 5px 2px 0px;
    font-size: 1.5em;
}

.bodyBackground {
    background-color: rgb(228, 204, 174);
    margin-top: -4px;
}

.listStyle{
    margin-top: 0px;
    color: rgb(150, 150, 150);
    margin-bottom: 8px;
}

.textStyle {
    color: rgb(150, 150, 150);
    font-size: 1.3em;
}

.textStyleP {
    color: rgb(150, 150, 150);
    margin-top: 0px;
    margin-left: 5px;
    font-size: 1.3em;
}

.listHeader {
    font-size: 1.2em;
    color: black;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 11px solid transparent;
    border-bottom: 11px solid rgb(150, 150, 150);
    display: inline-block;
    margin-right: 5px;
}

.listStyle.listTwo {
    margin-top: -5px;
}