.secondBody {
    margin: 5px 100px 0 100px;
}

.headerBackground {
    background-color: rgb(190, 105, 0);
    width: 100%;
    display: inline-block;
}

.symbol {
    border: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    font-size: 1.2em;
    float: left;
    margin: 2px 5px 2px 2px;
}

.title {
    margin: 2px 2px 2px 3px;
    font-size: 1.2em;
}

.container {
    float: left;
    width: 1.5%;
}

.container1 {
    float: left;
    width: 7%;
}

.container2 {
    float: left;
    width: 24%;
}

.container3 {
    float: right;
}

.headerBackground:after {
    content: "";
    clear: both;
    display: table;
}

.log {
    margin: 2px 5px 2px 0px;
    font-size: 1.2em;
}

.nav {
    margin: 2px 5px 2px 0px;
    font-size: 1.2em;
}

.bodyBackground {
    background-color: rgb(228, 204, 174);
    margin-top: -4px;
}

.listStyle{
    margin-top: 0px;
    color: rgb(150, 150, 150);
}

.textStyle {
    color: rgb(150, 150, 150);
    font-size: 1em;
}

.textStyleP {
    color: rgb(150, 150, 150);
    margin-top: 0px;
    margin-left: 5px;
    font-size: 1em;
}

.listHeader {
    font-size: 1.2em;
    color: black;
}

ol.listStyle::before {
    content: "";
    position: absolute;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
}